.movieCard {
  position: relative;
  margin-bottom: 20px;
  transition: all 200ms;
}
.movieCard img {
  border-radius: 6px;
}
.movieCard:hover {
  transform: scale(1.05);
}
.total-result {
  font-size: 16px;
  font-weight: bold;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: aliceblue;

  border-radius: 0px 0px 6px 6px;
}
.movie-info .release {
  color: #999;
}

.movie-info p {
  margin: 0;
  padding: 4px 4px;
  font-size: 16px;
}

.movie-info p span {
  font-weight: bold;
}
.movie-info .title {
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  font-weight: bold;
}
